body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  text-align: center;
}

.header {
  background-color: #cc0000;
  color: white;
  padding: 15px;
  font-size: 22px;
}

.thumbs img {
  width: 280px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumbs img:hover {
  transform: scale(1.03);
}

video#player {
  width: 100%;
  max-width: 720px;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  display: block;
  margin: 40px auto;
}
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 160px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding-top: 20px;
  text-align: left;
  height: 100%;
  z-index: 10;
}

.sidebar a {
  display: block;
  padding: 12px 20px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  background-color: #eee;
}
